
.SplitPane {
    width: 100%;
    height: 100vh;
  }
  
  .SplitPane-left {
    text-align: left;
    float: left;
    width: 30%;
    padding: 5px;
    height: auto;
    border: 1px solid #ddd;
    box-sizing: border-box;
    box-shadow: 2px 3px 5px #ddd;
  }
  
  .SplitPane-right {
    float: right;
    width: 69%;
    height: auto;
    padding: 5px;
    border: 1px solid #ddd;
    box-shadow: 2px 3px 5px #ddd;
    box-sizing: border-box;
    font-size: .875rem;
    text-align: left;
  }
  